.header {
    height: 80px;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    background-color: rgba(23, 34, 22, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    backdrop-filter: blur(10px);
  }
  
  .cartIcon {
    transition: transform 0.3s ease;
  }
  
  .buttonHover:hover .cartIcon {
    transform: scale(1.2);
  }
  